Package=Version
abind=1.4-5
arsenal=3.6.3
AsioHeaders=1.22.1-2
askpass=1.1
assertthat=0.2.1
backports=1.4.1
base64enc=0.1-3
bit=4.0.4
bit64=4.0.5
bitops=1.0-7
blob=1.2.3
bookdown=0.41
boot=1.3-28
brio=1.1.3
broom=1.0.0
broom.helpers=1.8.0
bslib=0.4.0
cachem=1.0.6
callr=3.7.1
car=3.1-0
carData=3.0-5
cellranger=1.1.0
checkmate=2.1.0
cli=3.3.0
clipr=0.8.0
colorspace=2.0-3
commonmark=1.8.0
corrplot=0.92
cpp11=0.4.2
crayon=1.5.1
crosstalk=1.2.0
curl=4.3.2
data.table=1.14.2
DBI=1.1.3
dbplyr=2.2.1
desc=1.4.1
diffobj=0.3.5
digest=0.6.29
dplyr=1.0.9
DT=0.27
dtplyr=1.2.1
ellipsis=0.3.2
evaluate=0.15
fansi=1.0.3
farver=2.1.1
fastmap=1.1.0
fontawesome=0.5.3
forcats=0.5.1
foreign=0.8-82
fs=1.5.2
gargle=1.2.0
generics=0.1.3
ggplot2=3.3.6
glue=1.6.2
googledrive=2.0.0
googlesheets4=1.0.0
gridExtra=2.3
gt=0.6.0
gtable=0.3.0
gtsummary=1.6.1
haven=2.5.0
highr=0.11
hms=1.1.1
htmltools=0.5.3
htmlwidgets=1.5.4
httpuv=1.6.5
httr=1.4.3
ids=1.0.1
isoband=0.2.5
jquerylib=0.1.4
jsonlite=1.8.0
kableExtra=1.4.0
knitr=1.49
labeling=0.4.2
labelled=2.9.1
later=1.3.0
lattice=0.20-45
lazyeval=0.2.2
lifecycle=1.0.1
lme4=1.1-30
lubridate=1.8.0
magrittr=2.0.3
maptools=1.1-4
MASS=7.3-57
Matrix=1.4-1
MatrixModels=0.5-0
memoise=2.0.1
mgcv=1.8-40
mime=0.12
minqa=1.2.4
modelr=0.1.8
munsell=0.5.0
nlme=3.1-157
nloptr=2.0.3
nnet=7.3-17
numDeriv=2016.8-1.1
openssl=2.0.2
pagedown=0.21
pbkrtest=0.5.1
pillar=1.8.0
pkgconfig=2.0.3
pkgload=1.3.0
praise=1.0.0
prettyunits=1.1.1
processx=3.7.0
progress=1.2.2
promises=1.2.0.1
ps=1.7.1
purrr=0.3.4
quantreg=5.94
R6=2.5.1
rappdirs=0.3.3
RColorBrewer=1.1-3
Rcpp=1.0.9
RcppEigen=0.3.3.9.2
readr=2.1.2
readxl=1.4.0
rematch=1.0.1
rematch2=2.1.2
renv=0.15.5
reprex=2.0.1
rlang=1.1.2
rmarkdown=2.29
rprojroot=2.0.3
rstatix=0.7.0
rstudioapi=0.13
rvest=1.0.2
sass=0.4.2
scales=1.2.0
selectr=0.4-2
servr=0.32
shiny=1.7.2
sourcetools=0.1.7
sp=1.5-0
SparseM=1.81
stringi=1.7.8
stringr=1.4.0
survival=3.3-1
svglite=2.1.3
sys=3.4
systemfonts=1.0.4
testthat=3.1.4
tibble=3.1.8
tidyr=1.2.0
tidyselect=1.1.2
tidyverse=1.3.2
tinytex=0.40
tzdb=0.3.0
utf8=1.2.2
uuid=1.1-0
vctrs=0.4.1
viridisLite=0.4.0
vroom=1.5.7
waldo=0.4.0
websocket=1.4.1
withr=2.5.0
xfun=0.48
xml2=1.3.3
xtable=1.8-4
yaml=2.3.5
abind=1.4-5
arsenal=3.6.3
AsioHeaders=1.22.1-2
askpass=1.1
assertthat=0.2.1
backports=1.4.1
base=4.2.1
base64enc=0.1-3
BH=1.81.0-1
bit=4.0.4
bit64=4.0.5
bitops=1.0-7
blob=1.2.3
bookdown=0.41
boot=1.3-28
brew=1.0-7
brio=1.1.3
broom=1.0.0
broom.helpers=1.8.0
bslib=0.4.0
cachem=1.0.6
callr=3.7.1
car=3.1-0
carData=3.0-5
cellranger=1.1.0
checkmate=2.1.0
class=7.3-20
cli=3.3.0
clipr=0.8.0
cluster=2.1.3
cmprsk=2.2-11
codetools=0.2-18
collections=0.3.5
colorspace=2.0-3
commonmark=1.8.0
compiler=4.2.1
config=0.3.1
corrplot=0.92
cowplot=1.1.1
cpp11=0.4.2
crayon=1.5.1
credentials=1.3.2
crosstalk=1.2.0
curl=4.3.2
cyclocomp=1.1.0
data.table=1.14.2
datasets=4.2.1
DBI=1.1.3
dbplyr=2.2.1
desc=1.4.1
#devtools=2.4.4
diffobj=0.3.5
digest=0.6.29
downlit=0.4.2
dplyr=1.0.9
DT=0.27
dtplyr=1.2.1
e1071=1.7-11
ellipsis=0.3.2
evaluate=0.15
exactRankTests=0.8-35
fansi=1.0.3
farver=2.1.1
fastmap=1.1.0
fontawesome=0.5.3
forcats=0.5.1
foreign=0.8-82
forge=0.2.0
FourCePhase2.1AKI=0.2.0.10
FourCePhase2.1Data=0.0.0.9000
fs=1.5.2
gargle=1.2.0
gdata=2.18.0.1
generics=0.1.3
gert=1.6.0
ggplot2=3.3.6
ggpubr=0.4.0
ggrepel=0.9.1
ggsci=2.9
ggsignif=0.6.3
ggtext=0.1.1
gh=1.3.0
gitcreds=0.1.1
globals=0.16.2
glue=1.6.2
gmodels=2.18.1.1
googledrive=2.0.0
googlesheets4=1.0.0
graphics=4.2.1
grDevices=4.2.1
grid=4.2.1
gridExtra=2.3
gridtext=0.1.4
gt=0.6.0
gtable=0.3.0
gtools=3.9.3
gtsummary=1.6.1
hardhat=1.2.0
haven=2.5.0
highr=0.11
hms=1.1.1
htmltools=0.5.3
htmlwidgets=1.5.4
httpuv=1.6.5
httr=1.4.3
ids=1.0.1
ini=0.3.1
isoband=0.2.5
jpeg=0.1-9
jquerylib=0.1.4
jsonlite=1.8.0
kableExtra=1.4.0
KernSmooth=2.23-20
km.ci=0.5-6
KMsurv=0.1-5
knitr=1.49
labeling=0.4.2
labelled=2.9.1
languageserver=0.3.13
later=1.3.0
lattice=0.20-45
lazyeval=0.2.2
leaflet=2.1.1
leaflet.providers=1.9.0
lifecycle=1.0.1
lintr=3.0.0
lme4=1.1-30
lubridate=1.8.0
magrittr=2.0.3
maptools=1.1-4
markdown=1.1
MASS=7.3-57
Matrix=1.4-1
MatrixModels=0.5-0
maxstat=0.7-25
memoise=2.0.1
methods=4.2.1
mgcv=1.8-40
mime=0.12
miniUI=0.1.1.1
minqa=1.2.4
mitools=2.4
modelr=0.1.8
munsell=0.5.0
mvtnorm=1.1-3
nlme=3.1-157
nloptr=2.0.3
NLP=0.2-1
nnet=7.3-17
numDeriv=2016.8-1.1
odbc=1.3.3
openssl=2.0.2
pagedown=0.21
parallel=4.2.1
pbkrtest=0.5.1
pillar=1.8.0
pkgbuild=1.3.1
pkgconfig=2.0.3
pkgdown=2.0.6
pkgload=1.3.0
plyr=1.8.9
png=0.1-7
polynom=1.4-1
praise=1.0.0
prettyunits=1.1.1
processx=3.7.0
profvis=0.3.7
progress=1.2.2
promises=1.2.0.1
proxy=0.4-27
ps=1.7.1
purrr=0.3.4
quantreg=5.94
R.cache=0.16.0
R.methodsS3=1.8.2
R.oo=1.25.0
R.utils=2.12.0
r2d3=0.2.6
R3port=0.2.5
R6=2.5.1
ragg=1.2.2
rappdirs=0.3.3
raster=3.6-14
rcmdcheck=1.4.0
RColorBrewer=1.1-3
Rcpp=1.0.9
RcppEigen=0.3.3.9.2
RcppRoll=0.3.0
RCurl=1.98-1.8
readr=2.1.2
readxl=1.4.0
rematch=1.0.1
rematch2=2.1.2
remotes=2.4.2
renv=0.15.5
reprex=2.0.1
reshape2=1.4.4
rex=1.2.1
rlang=1.1.2
rmarkdown=2.29
roxygen2=7.2.1
rpart=4.1.16
rprojroot=2.0.3
rstatix=0.7.0
rstudioapi=0.13
rtf=0.4-14.1
rversions=2.1.1
rvest=1.0.2
sass=0.4.2
scales=1.2.0
selectr=0.4-2
servr=0.32
sessioninfo=1.2.2
shiny=1.7.2
slam=0.1-50
sourcetools=0.1.7
sp=1.5-0
sparklyr=1.7.9
SparseM=1.81
spatial=7.3-15
splines=4.2.1
stats=4.2.1
stats4=4.2.1
stringi=1.7.8
stringr=1.4.0
styler=1.7.0
survey=4.1-1
survival=3.3-1
survminer=0.4.9
survMisc=0.5.6
svglite=2.1.3
sys=3.4
systemfonts=1.0.4
tableone=0.13.2
tcltk=4.2.1
terra=1.7-3
testthat=3.1.4
textshaping=0.3.6
tibble=3.1.8
tidycmprsk=0.1.2
tidyr=1.2.0
tidyselect=1.1.2
tidyverse=1.3.2
tinytex=0.40
tm=0.7-8
tools=4.2.1
tzdb=0.3.0
urlchecker=1.0.1
usethis=2.1.6
utf8=1.2.2
utils=4.2.1
uuid=1.1-0
vctrs=0.4.1
viridis=0.6.2
viridisLite=0.4.0
vroom=1.5.7
waldo=0.4.0
webshot=0.5.5
websocket=1.4.1
whisker=0.4
withr=2.5.0
wordcloud=2.6
wordcloud2=0.2.1
xaringan=0.25
xaringanExtra=0.7.0
xaringanthemer=0.4.1
xfun=0.48
xml2=1.3.3
xmlparsedata=1.0.5
xopen=1.0.0
xtable=1.8-4
yaml=2.3.5
zip=2.2.0
zoo=1.8-10
